.artists {
  box-sizing: border-box;
  padding: $padding-small;

  .grid-item {
    width: 10em;

    @media (max-width: $responsive-limit-small) {
      width: 50%;
    }

    .artist-preview {
      box-sizing: border-box;
      margin: $margin-small;
      padding: $padding-small;
      background: $plain-white;

      .artist-cover, .artist-cover-image {
        width: 100%;
        height: auto;
      }

      .artist-link {
        color: $color;
        display: block;
        text-decoration: none;
        text-align: center;
        margin-top: $margin-small;

        &:visited {
          color: $color;
        }

        &:active {
          color: $color;
        }

        &:focus {
          color: $color;
        }
      }
    }
  }
}
