.artist {
  padding: $padding-small;
  box-sizing: border-box;

  .artist-info-large {
    @include flex;
    background: $plain-white;
    padding: $padding-small;
    margin-bottom: $margin-small;

    .artist-cover, .artist-cover-image {
      width: 5em;
      height: 5em;
    }

    .artist-details {
      padding: 0 $padding-small;
    }
  }

  .albums {
    padding: 0;
    margin-top: $margin-large;

    .album {
      padding: 0;

      .album-link {
        color: $color;
        display: block;
        padding: $padding-large;
        text-decoration: none;

        &:visited {
          color: $color;
        }
      }
    }
  }

  .songs {
    padding: 0;
    margin-top: $margin-large;
  }
}
